.background{
    background: black;
    margin-bottom: 1.45rem; 
}

.link{
    color: white;
    text-decoration: none;
}

.siteTitle{
    margin: 0;
    max-width: 960;
    padding: 1.45rem 1.0875rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}